########################################
# Repo Specific
########################################
upstream/
~$*

########################################
# General
########################################
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

########################################
# Node.JS
########################################

# Dependency directories
node_modules/


########################################
# VS Code Local Customizations
########################################

/.vscode/launch.json
